.btn_cyan{
    background-color: $color-strong-Cyan;
    padding: 1.8rem 5rem;
    border-radius: 2.5rem;
    border: none;
    color: white;
    box-shadow: 2px 2px 0px $color-strong-Cyan;
    font-size: 2rem;
    cursor: pointer;
}
.btn_blue{
    background-color: $color-Light-Blue;
    padding: 1.8rem 5rem;
    border-radius: 2.5rem;
    border: none;
    color: white;
    box-shadow: 2px 2px 0px $color-Light-Blue;
    font-size: 2rem;
    cursor: pointer;
}