// color
$color-bg-color: hsla(202, 11%, 66%, 0.262);
$color-Grayish-Blue: hsl(201, 11%, 66%);
$color-Dark-grayish-blue: hsl(210, 10%, 33%);

$color-strong-Cyan: hsl(171, 66%, 44%);
$color-Light-Blue: hsl(233, 100%, 69%);
